In [1]:
using CSV

In [2]:
# A = Meter Instantaneous Values Chart
A = CSV.read("C:\\Users\\andre\\OneDrive\\Ambiente de Trabalho\\Data Science\\Connecta\\5c1d26.csv")

3924×2 DataFrames.DataFrame
│ Row  │ category      │ Power  │
│      │ Int64         │ Int64⍰ │
├──────┼───────────────┼────────┤
│ 1    │ 1583148960000 │ 124    │
│ 2    │ 1583149020000 │ 122    │
│ 3    │ 1583149080000 │ 123    │
│ 4    │ 1583149140000 │ 122    │
│ 5    │ 1583149200000 │ 129    │
│ 6    │ 1583149260000 │ 148    │
│ 7    │ 1583149320000 │ 138    │
│ 8    │ 1583149380000 │ 137    │
│ 9    │ 1583149440000 │ 142    │
│ 10   │ 1583149500000 │ 139    │
⋮
│ 3914 │ 1584661140000 │ 48     │
│ 3915 │ 1584661200000 │ 47     │
│ 3916 │ 1584661260000 │ 47     │
│ 3917 │ 1584661320000 │ 47     │
│ 3918 │ 1584661380000 │ 47     │
│ 3919 │ 1584661440000 │ 48     │
│ 3920 │ 1584661500000 │ 45     │
│ 3921 │ 1584661560000 │ 51     │
│ 3922 │ 1584661620000 │ 51     │
│ 3923 │ 1584661680000 │ 52     │
│ 3924 │ 1584661740000 │ 50     │

┌ Warning: `T` is deprecated, use `nonmissingtype` instead.
│   caller = compacttype(::Type, ::Int64) at show.jl:39
└ @ DataFrames C:\Users\andre\.julia\packages\DataFrames\m9gd9\src\abstractdataframe\show.jl:39

In [3]:
size(A)

(3924, 2)

In [4]:
# m = ROWS number
m = size(A,1)

3924

In [5]:
# n = COLUMNS number
n = size(A,2)

2

In [6]:
# 1st row of A
A[1,:]

DataFrameRow
│ Row │ category      │ Power  │
│     │ Int64         │ Int64⍰ │
├─────┼───────────────┼────────┤
│ 1   │ 1583148960000 │ 124    │

In [7]:
# 1st col of A
A[1]

3924-element CSV.Column{Int64,Int64}:
 1583148960000
 1583149020000
 1583149080000
 1583149140000
 1583149200000
 1583149260000
 1583149320000
 1583149380000
 1583149440000
 1583149500000
 1583149560000
 1583149620000
 1583149680000
             ⋮
 1584661080000
 1584661140000
 1584661200000
 1584661260000
 1584661320000
 1584661380000
 1584661440000
 1584661500000
 1584661560000
 1584661620000
 1584661680000
 1584661740000

In [8]:
# 1st col of A
A[:,1]

3924-element Array{Int64,1}:
 1583148960000
 1583149020000
 1583149080000
 1583149140000
 1583149200000
 1583149260000
 1583149320000
 1583149380000
 1583149440000
 1583149500000
 1583149560000
 1583149620000
 1583149680000
             ⋮
 1584661080000
 1584661140000
 1584661200000
 1584661260000
 1584661320000
 1584661380000
 1584661440000
 1584661500000
 1584661560000
 1584661620000
 1584661680000
 1584661740000

In [9]:
# Element (1,1) of A
A[1,1]

1583148960000

In [10]:
A[:,:]

3924×2 DataFrames.DataFrame
│ Row  │ category      │ Power  │
│      │ Int64         │ Int64⍰ │
├──────┼───────────────┼────────┤
│ 1    │ 1583148960000 │ 124    │
│ 2    │ 1583149020000 │ 122    │
│ 3    │ 1583149080000 │ 123    │
│ 4    │ 1583149140000 │ 122    │
│ 5    │ 1583149200000 │ 129    │
│ 6    │ 1583149260000 │ 148    │
│ 7    │ 1583149320000 │ 138    │
│ 8    │ 1583149380000 │ 137    │
│ 9    │ 1583149440000 │ 142    │
│ 10   │ 1583149500000 │ 139    │
⋮
│ 3914 │ 1584661140000 │ 48     │
│ 3915 │ 1584661200000 │ 47     │
│ 3916 │ 1584661260000 │ 47     │
│ 3917 │ 1584661320000 │ 47     │
│ 3918 │ 1584661380000 │ 47     │
│ 3919 │ 1584661440000 │ 48     │
│ 3920 │ 1584661500000 │ 45     │
│ 3921 │ 1584661560000 │ 51     │
│ 3922 │ 1584661620000 │ 51     │
│ 3923 │ 1584661680000 │ 52     │
│ 3924 │ 1584661740000 │ 50     │

In [11]:
first_feature = 1
last_feature = 2
features = A[first_feature:last_feature]

3924×2 DataFrames.DataFrame
│ Row  │ category      │ Power  │
│      │ Int64         │ Int64⍰ │
├──────┼───────────────┼────────┤
│ 1    │ 1583148960000 │ 124    │
│ 2    │ 1583149020000 │ 122    │
│ 3    │ 1583149080000 │ 123    │
│ 4    │ 1583149140000 │ 122    │
│ 5    │ 1583149200000 │ 129    │
│ 6    │ 1583149260000 │ 148    │
│ 7    │ 1583149320000 │ 138    │
│ 8    │ 1583149380000 │ 137    │
│ 9    │ 1583149440000 │ 142    │
│ 10   │ 1583149500000 │ 139    │
⋮
│ 3914 │ 1584661140000 │ 48     │
│ 3915 │ 1584661200000 │ 47     │
│ 3916 │ 1584661260000 │ 47     │
│ 3917 │ 1584661320000 │ 47     │
│ 3918 │ 1584661380000 │ 47     │
│ 3919 │ 1584661440000 │ 48     │
│ 3920 │ 1584661500000 │ 45     │
│ 3921 │ 1584661560000 │ 51     │
│ 3922 │ 1584661620000 │ 51     │
│ 3923 │ 1584661680000 │ 52     │
│ 3924 │ 1584661740000 │ 50     │

In [12]:
B = zeros(m-1,n)

3923×2 Array{Float64,2}:
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 ⋮
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0
 0.0  0.0

In [ ]:
for i = 1:m
    B[i,:] = A[i+1,:] .- A[i,:]
end

In [ ]:
i = 1

In [ ]:
B[i,1] = A[i+1,1] .- A[i,1]

In [ ]:
B[i,2] = A[i+1,2] .- A[i,2]

In [ ]:
B